<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/index.png" type="image/png">
    <title>Crane</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <i class="fas fa-dragon site-brand"></i>
            <ul class="nav-group-link">
                <li class="nav-item"><a href="#" class="nav-link active">Voar</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Dormir</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Comer</a></li>
            </ul>
        </nav>
        <div class="search-inputs">
            <form>
                <div class="input-group">
                    <i class="fas fa-user"></i>
                    <input type="text" name="" placeholder="Viajantes">
                </div>
                <div class="input-group">
                    <i class="fas fa-map-marker"></i>
                    <input type="text" name="" placeholder="Escolher origem">
                </div>
                <div class="input-group">
                    <i class="fas fa-plane"></i>
                    <input type="text" name="" placeholder="Escolher destino">
                </div>
                <div class="input-group">
                    <i class="far fa-calendar"></i>
                    <input type="text" name="" placeholder="Selecionar datas">
                </div>
            </form>
        </div>
    </header>
    <main class="main-area">
        <h2 class="title">Explore propriedades por destino</h2>
        <div class="container-destiny">
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="distiny-item">
                <span class="sample-image"></span>
                <div class="destiny-info">
                    <h3 class="destiny-title">Lorem ipsum dolor sit.</h3>
                    <p class="destiny-status">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>