<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/index.png" type="image/png">
    <title>Crane</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <span class="logo_brand">B</span>
            <ul class="nav-group-link">
                <li><a href="#">Voar</a></li>
                <li><a href="#">Dormir</a></li>
                <li><a href="#"><i class="fas fa-car"></i>Comer</a></li>
            </ul>
        </nav>
        <div class="search-inputs">
            <form>
                <div class="input-group"></div>
            </form>
        </div>
    </header>
</body>
</html>