$primary-color:#5d1049;
$inactive-nav-text-color:#bc9db4;
$text-input-color:#c79ebe;
$background-color:#c4c4c4;
$secondary-background-color:#fff;
$float-button-secondary-color:#eff3f3;
$border-color:#fff;
$primary-text-color:#ababab;
$secondary-text-color:black;