html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul,ol,li{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}